* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1{
  color: rgb(230, 221, 200);
  font-family: 'Bodoni Moda', serif;
  letter-spacing: 1.1em;
  text-align: center;
  margin:0;
  position:absolute;
  top: 32%;
  margin-bottom: 2px;
  left: 50%;
  transform:translateX(-50%);

}
.search-container input {
  border: 2px solid rgba(0, 221, 200, .0);
  color: rgba(230, 221, 200, .9);
  padding-left:15px;
  
}

.search-container input:focus {
  border-bottom: 2px solid rgba(230, 221, 200, .9);
  outline: none; 
}

body{
  background: linear-gradient(to right, #de5050, #ebae34);
  border: 2px solid white;
  height: fit-content;
  min-height:100vh;
  position:relative;
  
  
}
input::placeholder{
  color: rgba(230, 221, 200, .9);
}

.search-container {
 border:2px solid rgba(230, 221, 200, .9);
 width: 35vw;
 min-width: 225px;
 max-width:350px;
 color: rgba(58, 32, 19, 0.9);
 position: absolute;
 display: inline-block;
 top: 50%;
 left: 50%;
 transform: translateX(-50%);
 border-radius:5px;
 
}
.search-container input,
.search-container .suggestions {

  background-color: rgba(230, 221, 200, .2);
  width: 100%;
  font-size:20px;
  line-height: 1.2em;
}
.search-container .suggestions {
   /* TODO */
}

ul {
  /* TODO */
}
ul.has-suggestions {
  /* TODO */
}
ul li {
  list-style-type: none;
  padding-left:15px;
  

}
ul li:hover {
  background-color: rgba(230, 221, 200, .6);
  cursor:pointer;
}